@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@800&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Montserrat&display=swap');
/*Banner*/
.banner{
    display: flex;
    align-items: flex-end;
    width: 100vw;
    background-image: url("../img/about/banner.jpeg");
    background-repeat: no-repeat;
    background-position: right top;
    height: 40vw;
}
.banner h1{
    font-weight:800;
    font-size: 5rem;
    margin: 20px;
    color: white;
}
/* Texto inicial */
.t{
    font-family: 'Archivo', sans-serif;
    color: #D8DDE2;
    font-size: 45px;
    text-align: center;
}
h3{
    font-family:'Montserrat', cursive !important;
    text-align: justify;
    font-size: 18px;
    padding: 0% 10%;
    color: white;
}
/* grid */
#grid-about{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 15px;
}

.img-grid{
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 300px;
    background-position: center;
    background-size: cover;
    position: relative;
}

.img-grid-p{
    position: relative;
    width: 100%;
    height: 50%;
    text-align: center;
}

.img-grid-p2{
    position: relative;
    width: 100%;
    height: 50%;
    text-align: center;
}

.img-grid-4, .img-grid-3{
    width: 101%;
    display: flex;
    align-items: flex-end;
    position: relative;
    bottom: 0;
    margin-top: 20px;
    height: 500px;
    background-position: center;
    background-size: cover;
}

.sobre{
    width: 100vw;
    padding: 0% 10%;
}

.inovation{
    width: 100vw;
    padding: 0% 10%;
    background-image: url('https://i.pinimg.com/736x/d2/0a/72/d20a726673f8d4cf81ea09926dba53c9.jpg');
}
.padrao{
    position: absolute;
    width: 100%;
    padding: 10px;
    transition: .5s ease;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 20px ;
}
.overlay {
    background: rgba(0, 0, 0, 0.5);
    opacity:0;
    display: none;
    bottom: 0;
    color: white;
    font-size: 15px;
    text-align: center;
    width: 100%;
    height: 100%;
    transition: .10s ease;
  }

  .img-grid:hover .overlay {
    display: block;
    opacity: 1;
  }

  .img-grid:hover .padrao{
    bottom: 110px;
    background-color: transparent;
  }
  
  .padrao2{
    position: absolute;
    width: 100%;
    padding: 10px;
    transition: .5s ease;
    bottom: 0;
    margin-top: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 20px ;
}

.padrao3{
    font-family: 'Archivo', sans-serif;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;
    transition: .5s ease;
    bottom: 0;
    margin-top: 0;
    font-size: 80px ;
}
  .parallax {
    background-image: url("https://www.scania.com/content/dam/www/market/master/home/20092-007.jpg/_jcr_content/renditions/cq5dam.web.1280.1280.jpeg");
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    padding-left: 150px;
    padding-right: 150px;
  }
  .grid-item {
    font-family: 'Archivo', sans-serif;
    color: #D8DDE2;
    padding: 20px;
    text-align: center;
    font-size: 40px;

  }
  .grid-item1 {
    font-family: 'Poppins', sans-serif;
    color: white;
    padding: 0PX 100px 0px 100PX !important;
  }

  .f-30{
    font-size: 16px !important;
    text-align: justify;
  }
/* Designer fundo */
.Sshow{
  max-width: 2000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}
/* Seta de ir e voltar */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color:#D8DDE2
}
/* Bolinhas de andamento*/
.bolinha {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #D8DDE2;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.bolin, .bolinha:hover {
  background-color:black;
}
/* responsivo*/
@media(max-width:1200px){
  .t{
    font-family: 'Archivo', sans-serif;
    color: #D8DDE2;
    font-size: 30px;
    text-align: center;
}
h3{
    font-family:'Montserrat', cursive !important;
    text-align: justify;
    font-size: 15px;
    padding: 0% 10%;
    color: white;
}

.grid-item {
    font-family: 'Archivo', sans-serif;
    color: #D8DDE2;
    padding: 12px;
    padding-right: 80px;
    text-align:left;
    font-size: 30px;
  
    }
.grid-item1 {
    font-family: 'Poppins', sans-serif;
    color: white;
    padding: 0px 30px 30px 0px !important;
    }

.f-30{
    font-size: 15px !important;
    }

    .padrao{
      position: absolute;
      width: 100%;
      padding: 10px;
      transition: .5s ease;
      bottom: 0;
      background: rgba(0, 0, 0, 0.5);
      color: white;
      font-size: 15px ;
  }
  .overlay {
      background: rgba(0, 0, 0, 0.5);
      opacity:0;
      display: none;
      bottom: 0;
      color: white;
      font-size: 12px;
      text-align: center;
      width: 100%;
      height: 100%;
      transition: .10s ease;
    }

}
@media(max-width:720px){
  .t{
    font-family: 'Archivo', sans-serif;
    color: #D8DDE2;
    font-size: 24px;
    text-align: center;
}
h3{
    font-family:'Montserrat', cursive !important;
    text-align: justify;
    font-size: 12px;
    padding: 0% 10%;
    color: white;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 20px;
}
.grid-item {
    font-family: 'Archivo', sans-serif;
    color: #D8DDE2;
    font-size: 18px;
  
    }
.grid-item1 {
    font-family: 'Poppins', sans-serif;
    text-align: left;
    color: white;

    }

.f-30{
    font-size: 12px !important;
    }

    .padrao{
      position: absolute;
      width: 100%;
      padding: 10px;
      transition: .5s ease;
      bottom: 0;
      background: rgba(0, 0, 0, 0.5);
      color: white;
      font-size: 12px ;
  }
  .overlay {
      background: rgba(0, 0, 0, 0.5);
      opacity:0;
      display: none;
      bottom: 0;
      color: white;
      font-size: 9px;
      text-align: center;
      width: 100%;
      height: 100%;
      transition: .10s ease;
    }
    .padrao3{
      font-family: 'Archivo', sans-serif;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      width: 100%;
      height: 100%;
      padding: 10px;
      transition: .5s ease;
      bottom: 0;
      margin-top: 0;
      font-size: 50px ;
    }
}