@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@800&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Montserrat&display=swap');

main{
    text-align: center;
    padding: 20px;
}

main h1{
    font-family: 'Comfortaa';
}

.formulario { 
    text-align: justify;
    width: 50%;
    overflow: hidden ; 
    margin: 10px auto;
    background: #fff; 
    box-shadow: 1px 0px 1.2px 0px #e3e3e3; 
    border-radius: 3px; 
    padding: 4vw; 
  }
  

  .formulario input{
    width: 100%;
    border: 0px;
    border-bottom: 1px solid black;
    height: 30px;
    transition: .1s ease;
  }

  .formulario1 { 
    display: none;
    text-align: justify;
    width: 50%;
    overflow: hidden ; 
    margin: 10px auto;
    background: #fff; 
    box-shadow: 1px 0px 1.2px 0px #e3e3e3; 
    border-radius: 3px; 
    padding: 4vw; 
  }
  

  .formulario1 input{
    width: 100%;
    border: 0px;
    border-bottom: 1px solid black;
    height: 30px;
    transition: .1s ease;
  }

  .formulario2 { 
    display: none;
    text-align: justify;
    width: 50%;
    overflow: hidden ; 
    margin: 10px auto;
    background: #fff; 
    box-shadow: 1px 0px 1.2px 0px #e3e3e3; 
    border-radius: 3px; 
    padding: 4vw; 
  }
  

  .formulario2 input{
    width: 100%;
    border: 0px;
    border-bottom: 1px solid black;
    height: 30px;
    transition: .1s ease;
  }

  .inicial{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
  }

  .inicial>h1{
    font-family: 'Montserrat' !important;
  }

  .formulario>p{
    font-size: 40px;
    text-align: right;
  }

  .formulario1>p{
    font-size: 40px;
    text-align: right;
  }

  .formulario2>p{
    font-size: 40px;
    text-align: right;
  }

  input:focus{
    outline: 0px;
    border: 0px;
    border-bottom: 1px solid rgb(165, 3, 3);
  }
  

.h1_desafio{
  text-align: left;
  color: white;
  font-family: 'Archivo';
  padding: 1vw 10vw 0vw 5vw;
  font-size: 30px;
  text-transform: uppercase;
}

label{
  margin-top: 10px;
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Comfortaa';
}

.preco{
  display: flex;
  justify-content: right;
}

.preco p{
  font-size: 20px;
  margin-bottom: -40px;
}

.formulario button{
  display: block;
  font-size: 20px;
  margin: 10px 0px 0px 10px;
  margin-left: auto;
}

.formulario1 button{
  display: block;
  font-size: 20px;
  margin: 10px 0px 0px 10px;
  margin-left: auto;
}

.formulario2 button{
  display: block;
  font-size: 20px;
  margin: 10px 0px 0px 10px;
  margin-left: auto;
}

.btn.btn-secondary{
  border-radius: 50%;
  width: 45px;
  margin:10px;
}

.btn.btn-secondary.fim{
  border-radius: 1%;
  width:200px;
  margin:10px;
}

.setas{
  display: flex;
  justify-content:space-between;
  width: 100% !important;
}

body{
  background-image:url('../img/challenge/estrela.jpg') ;
  background-size: cover;
}


select{
  height: 50px;
  width: 200px;
  margin-bottom: 0px;
}

.btn.btn-secondary{
  background-color: rgb(66, 66, 138);
  outline: 0px;
  border: 0px;
}