.banner{
    display: flex;
    align-items: flex-end;
    background-size: cover;
    width: 100vw;
    background-image: url("../img/contact/banner.jpeg");
    background-repeat: no-repeat;
    background-position: right top;
    height: 40vw;
}
.banner h1{
    font-weight:800;
    font-size: 5rem;
    margin: 20px;
    color: white;
}

.corpo{
    padding: 100px;
    margin: 0 auto;
    color: white !important;
}

.grid-contato1{
    width: 100%;
    margin: 0 auto;
    /* margin-top: 100px; */
    /* display: grid;
    grid-template-columns: 50% 10% 40%;
    grid-template-rows: auto; */
    /* justify-items: center; */
}

.element-assist-virtual{
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.element-assist-virtual button{
    border-radius: 50%;
    background-color: var(--white);
    width: 50px;
    height: 50px;
    text-align: center;

}

.element-assist-virtual img{
    width: 50%;
}

.grid-contato2{
    margin: 0 auto;
    /* justify-items: center; */
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    color: rgb(0, 0, 0);
}
.grid-contato2 h3{
    color: black !important;
}

.telefones{
    padding: 10%;
    text-align: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 5vw rgba(0, 0, 0, 0.5) inset;
    width: 25vw;
    border-radius: 30vw;
    /* height: 28vw;
    width: 28vw; */
}

#formulario{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-start: 1;
    grid-column-end: 3;
}

#formulario{
    display: none;
}

.text-light {
    color: #f8f9fa!important;
}
.col-12{
    width: 100% !important;
}
#class-button-enviar{
    grid-column-start: 1;
    grid-column-end: 3;
}
#button-enviar{
    background-color: white;
    /* border-radius: 20px; */
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    /* font-size: 140%; */
}

.form{
    padding-left: 8%;
    padding-right: 8%;
}
h5{
    font-family: "Archivo";
    color: black;
    text-transform: uppercase;
}
.telefones-text{
    margin: 0 auto;
    padding: 5%;

}

@media (max-width: 900px) {
    .grid-contato2{
        display: block;
    }
    .telefones{
        margin-top: 4vw;
        width: 100%;
    }
}
@media (max-width: 1150px){
    .corpo{
        padding: 50px;
    }
    
}