@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@800&family=Poppins&display=swap');

#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

.Aurora{
    height: 80vh;
    padding-left: 20%;
    padding-right: 10%;
    padding-top: 100px;
    background-image: url('../img/index/truck.png');
    background-repeat: no-repeat;
    text-align: right;
}