.banneer{
    position: relative;
}
.banner img{
    width: 100%;
    filter: opacity(20%);
}


.banner h1{
    position: absolute;
    font-weight:800;
    font-size: 5rem;
    top: 650px;
    /* bottom:1px; */
    left: 50px;
}
.desc{
    display: flex;
    margin: 150px auto;
    text-align: justify;
    width: 700px;
    height: 190px;
}
.desc p:nth-child(1){
    color: var(--silver);
    line-height: 30px;
}
.portfolio{
    width: 100%;
    height: 100%;
    position: relative;

}
.portfolio h1{
    color: var(--silver);
}
.portfolio h3{
    grid-row: 2/3;
    grid-column: span 3;
}

.portfolio h1, h3, h2{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 15px;
    text-align: center;
}

/* CARROSSEL */
.contentSlideShow{
    position: relative;
    height: 750px;

    margin-top: 10px;
    
    border: 5px solid black;
    
    overflow: hidden;
}

.navegation{
    position: absolute;
    /* distancia do posicionamento da bar nav */
    bottom: 0px;
    left: 1255px;
    transform: translate(-100%);
    display: flex;
}
.bar{
    width: 70px;
    height: 17px;
    border: 3px solid rgb(255, 255, 255);
    background-color: black;
    margin: 6px; /*faz o margin entre bar*/
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}
.bar:hover{
    background-color: var(--silver);
   border: 3px solid rgb(0, 0, 0);

}
.slides input{
    display: none;
}
.slides{
    display: flex; /*faz ccom q as imagens fiquem lado a lado no div slideshow*/
    width:700%;
    height: 100%;   
    position: relative;
}

.slide{
    display: flex;
    width: 15%;
    transition: .6s;
}
.slide img{
    border-radius: 15px;
    width: 100%;
    height: 100%;
    filter: opacity(25%);
}
#slide1:checked ~ .s1{
    margin-left: 0;
}
#slide2:checked ~ .s1{
    margin-left: -15%;
}
#slide3:checked ~ .s1{
    margin-left: -30%;
}
#slide4:checked ~ .s1{
    margin-left: -45%;
}
#slide5:checked ~ .s1{
    margin-left: -60%;
}
#slide6:checked ~ .s1{
    margin-left: -75%;
}
#slide7:checked ~ .s1{
    margin-left: -90%;
}
.slide p{
    position: absolute;
    left: 750px;
    width: 450px;
    bottom: 50px;
    text-align: justify;
    color: rgb(255, 255, 255);
    font-weight: 800;
    opacity: 0;
    /*  */
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.desc-line{
    position: absolute;
    left: 750px;
    width: 450px;
    bottom: 50px;
    text-align: justify;
    color: rgb(255, 255, 255);
    font-weight: 800;
}
.esp-tec{
    border: 2px solid rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
}
.esp-tec a{
    color: #ffffff;
    letter-spacing: 0.2rem;
    font-weight: 800;
    /* color: rgba(47, 0, 255, 0.945); */
}