body, .container-grid{
    width: 100%;
}
.banner{
    position: relative;
}
.banner img{
    width: 100%;
    filter: opacity(20%);
}
.banner h1{
    position: absolute;
    font-weight:800;
    font-size: 5rem;
    /* top: 650px; */
    bottom:50px;
    left: 50px;
}
.desc{
    display: flex;
    margin: 150px auto;
    text-align: justify;
    width: 700px;
    height: 190px;
}
.desc p:nth-child(1){
    color: var(--silver);
    line-height: 30px;
}
.portfolio{
    width: 100%;
    height: 100%;
    position: relative;

}
.portfolio h1, .configurator h1{
    color: var(--silver);
}
.portfolio h3{
    grid-row: 2/3;
    grid-column: span 3;
}

.portfolio h1, h3, h2, .configurator h1{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 15px;
    text-align: center;
}

/* CARROSSEL */
.contentSlideShow{
    position: relative;
    height: 750px;

    margin-top: 10px;
    
    border: 5px solid black;
    
    overflow: hidden;
}

.navegation{
    position: absolute;
    /* distancia do posicionamento da bar nav */
    bottom: 0px;
    left: 1255px;
    transform: translate(-100%);
    display: flex;
}
.bar{
    width: 70px;
    height: 17px;
    border: 3px solid rgb(255, 255, 255);
    background-color: black;
    margin: 6px; /*faz o margin entre bar*/
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}
.bar:hover{
    background-color: var(--silver);
   border: 3px solid rgb(0, 0, 0);

}
.slides input{
    display: none;
}
.slides{
    display: flex; /*faz ccom q as imagens fiquem lado a lado no div slideshow*/
    width:700%;
    height: 100%;   
    position: relative;

   
}
#slide1{
    background-image: url(https://www.scania.com/content/www/group/en/home/products-and-services/trucks/p-series/_jcr_content/root/responsivegrid/responsivegrid_copy/responsivegrid/heroimage.coreimg.85.1920.jpeg/1585222942699.jpeg);
    filter: opacity(25%);
}
#slide2{
    background-image: url(https://www.scania.com/content/www/group/en/home/products-and-services/trucks/g-series/_jcr_content/root/responsivegrid/responsivegrid_copy/responsivegrid/heroimage.coreimg.85.1920.jpeg/1585223097896.jpeg);
    filter: opacity(25%);

}
#slide3{
    background-image: url(https://www.scania.com/content/www/group/en/home/products-and-services/trucks/r-series/_jcr_content/root/responsivegrid/responsivegrid_copy/responsivegrid/heroimage.coreimg.85.1920.jpeg/1586960869941.jpeg);
    filter: opacity(25%);

}

#slide4{
    background-image: url(https://www.scania.com/content/www/group/en/home/products-and-services/trucks/s-series/_jcr_content/root/responsivegrid/responsivegrid_copy/responsivegrid/heroimage.coreimg.85.1920.jpeg/1585223411210.jpeg);
    filter: opacity(25%);

}

#slide5{
    background-image: url(https://www.scania.com/content/www/group/en/home/products-and-services/trucks/v8/_jcr_content/root/responsivegrid/responsivegrid_copy/responsivegrid/heroimage.coreimg.85.1920.jpeg/1601046723293.jpeg);
    filter: opacity(25%);

}

#slide6{
    background-image: url(https://www.scania.com/content/www/group/en/home/products-and-services/trucks/xt/_jcr_content/root/responsivegrid/responsivegrid_copy/responsivegrid/heroimage.coreimg.85.1920.jpeg/1585223632526.jpeg);
    filter: opacity(25%);

}
#slide7{
    background-image: url(https://www.scania.com/content/www/group/en/home/products-and-services/trucks/gas-truck/_jcr_content/root/responsivegrid/responsivegrid/responsivegrid/heroimage.coreimg.85.1920.jpeg/1614153826812.jpeg);
    filter: opacity(25%);

}
.slide{
    display: flex;
    width: 15%;
    transition: .6s;

    min-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.slide img{
    border-radius: 15px;
    width: 100%;
    height: 100%;
    filter: opacity(25%);
}
#slide1:checked ~ .s1{
    margin-left: 0;
}
#slide2:checked ~ .s1{
    margin-left: -15%;
}
#slide3:checked ~ .s1{
    margin-left: -30%;
}
#slide4:checked ~ .s1{
    margin-left: -45%;
}
#slide5:checked ~ .s1{
    margin-left: -60%;
}
#slide6:checked ~ .s1{
    margin-left: -75%;
}
#slide7:checked ~ .s1{
    margin-left: -90%;
}

.desc-line{
    position: absolute;
    left: 40%;
    width: 450px;
    bottom: 23.5%;
    text-align: justify;
    color: rgb(255, 255, 255);
    font-weight: 800;
}
.esp-tec{
    position: absolute;
    bottom: 10%;
    left: 43%;
    border: 2px solid rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
}
.esp-tec a{
    color: #ffffff;
    letter-spacing: 0.2rem;
    font-weight: 800;
    /* color: rgba(47, 0, 255, 0.945); */
}
.title-text{
    text-align: center;
    margin-bottom: 30px;
    text-shadow: 0  0 5px var(--silver);
}
/* .configurator .title-text h3{
    margin-bottom: 330px;
} */
.configurator{
    height: 100vh;    
    margin-top: 80px;
    
}
.configurator-grid{
   
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80vh;
    align-items: center;
}
.config-banner{
    justify-self: center;
}
.config-banner button{
    background-color: transparent;
}
.config-text{
    padding: 50px;
}
.config-text h3{
    line-height: 180%;
}
 .bus-container{
    max-height: 100vh;
 }
 .bus-container img{
    width: 610px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
 }

.desc-bus{
    display: flex;
    margin: 50px auto;
    text-align: justify;
    width: 700px;
    /* height: 190px; */
    color: var(--silver);
    /* line-height: 30px; */
}
.bus-container a{
    display: flex;
    margin: 0 auto;
    text-align: center;
    width: 400px;
    color: var(--silver);
    letter-spacing: 1px;
    text-decoration: 1px underline !important;
    
}

.paralax-sol{
    background-image: url(https://www.scania.com/content/www/br/pt/home/products/_jcr_content/root/responsivegrid/responsivegrid/responsivegrid_15710/responsivegrid/responsivegrid/image.coreimg.90.1200.jpeg/1639663118112.jpeg);

    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
}

.solutions{
    width:100%;
    /* height: 50vh; */
    display: grid;
    margin-top: 20px;
    /* margin-left:30px; */
    /* margin-right: 30px; */
    /* height: 100vh; */
    height: 100vh;
    
    column-gap: 15px;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 0.2fr 1fr 1fr;
    justify-items: center;
    align-items: center;

}
.solutions p, .atributes p{
    padding: 20px;
    text-align: center;
    color: var(--silver);
}
.solutions h1{
    grid-column: span 2;
    grid-row: 1/2;
}
.solutions img{
    width: 100%;
}
.col_one{
    width: 80%;
   
}
.col_two{
    width: 80%;
}
.row_two{
    grid-column: span 2;
    width: 80%;  
    height: 30vh;
}
.atributes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    width: 100%;
    height: 100vh;
    /* margin: 50px; */
    margin-top: 200px;

    /* justify-items: center; */

}
.atributes h1{
    grid-column: span 3;
}